<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simple use Vue</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<style>
		@import "https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css";
	</style>

	<script>
		window.addEventListener('load', function () {
			Vue.config.devtools = true;
			new Vue({
				el: '#app',
				data: {
					header: 'Developers',
					form: {
						name: '',
						position: '',
						age: 0,
						visible: true
					},

					developers: [
						{name: 'Tomas Smetka', position: 'FE developer', age: 29, visible: true},
						{name: 'Simon Raichl', position: 'Fullstack developer', age: 250, visible: true},
						{name: 'Marek Hanacek', position: 'Fullstack developer', age: 15, visible: true},
						{name: 'Fido', position: 'Dog', age: 5, visible: false}
					]
				},

				methods: {
					handleShowAll() {
						const developers = this.developers;
						Object.keys(developers).forEach(function (key) {
							developers[key]['visible'] = true;
						});
					},

					handleDeleteDeveloper(index) {
						Vue.delete( this.developers, index);
					},

					submitCreateNewDeveloperForm() {
						this.developers.push(JSON.parse(JSON.stringify(this.form)))
					}
				}
			});
		});
	</script>
</head>
<body>
<div id="app" class="container">
	<h1>{{ header }}</h1>
	<br>
	<p>List rendering example.</p>
	<button @click.prevent="handleShowAll()" class="btn btn-primary mb-4">Show all</button>
	<br>
	<table class="table">
		<thead>
		<tr>
			<td>Name</td>
			<td>Position</td>
			<td>Age</td>
			<td class="text-right">Delete</td>
		</tr>
		</thead>
		<tbody></tbody>
		<tr v-for="(item, index) in developers" v-if="item.visible" :class="{ 'table-danger': item.age > 120 }">
			<td>{{ item.name }}</td>
			<td>{{ item.position }}</td>
			<td>{{ item.age > 120 ? 'Is death' : item.age }}</td>
			<td class="text-right"><button class="btn btn-danger" @click.prevent="handleDeleteDeveloper(index)">x</button> </td>
		</tr>
		</tbody>
	</table>

	<h2>Create </h2>
	<form @submit.prevent="submitCreateNewDeveloperForm()">
		<div class="form-group">
			<label for="name">Name</label>
			<input type="text" class="form-control" id="name" v-model="form.name" placeholder="Name">
		</div>


		<div class="form-group">
			<label for="position">Position</label>
			<input type="text" class="form-control" id="position" v-model="form.position" placeholder="Position">
		</div>


		<div class="form-group">
			<label for="age">Age</label>
			<input type="number" class="form-control" id="age" v-model="form.age" placeholder="Age">
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
</body>
</html>
